#picture-container {
  width: 40%;
  background-color: #045601;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: 5px;
}

#gag-image {
  width: 100%;
}
